---
import FundingRequest from '../components/FundingRequest.astro';
import Layout from '../layouts/MainLayout.astro'
---

<Layout
  title="Boutique"
  description=""
  id={2}>
  <!-- TODO: refaire la description -->

<FundingRequest color="secondary-yellow" />

<section class="section pourquoi">
  <p>
    <!-- TODO: refaire ce paragraphe et son css -->
    test ?
    Acheter un jouet Lutin Vert c'est contribuer au développement personnel et professionnel de nos employés en insertion, soutenir l'association et faire un geste éco-responsable, tout en faisant plaisir à un enfant, petit ou grand !<br>
    L'argent de la vente des jouets sert directement à faire fonctionner l'association, en finançant notamment les salaires, le loyer et les autres charges.<br>
    <b>Merci pour votre soutien !</b>
  </p>
</section>

<section class="section site">
  <h2>
    Où acheter les jouets Lutin Vert
    <svg class="title-flower" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28.542 11.7801C27.7384 13.7318 27.7384 15.9132 28.5421 17.8649C31.24 24.5811 24.5812 31.2399 17.865 28.5419C15.9133 27.7383 13.7319 27.7383 11.7802 28.5419C5.06398 31.2399 -1.59482 24.5811 1.10315 17.8649C1.9068 15.9131 1.90677 13.7318 1.10312 11.7801C-1.59485 5.06384 5.06396 -1.59497 11.7802 1.10299C13.7319 1.90664 15.9133 1.90667 17.865 1.10302C24.5812 -1.59494 31.24 5.06385 28.542 11.7801Z" fill="#D8AF3F"/>
      <path d="M10.1451 8.34248C11.4384 8.08915 12.8117 7.96248 14.2651 7.96248C15.5584 7.96248 16.6717 8.12248 17.6051 8.44248C18.5517 8.76248 19.2717 9.20915 19.7651 9.78248C20.2584 10.3425 20.5051 10.9892 20.5051 11.7225C20.5051 12.7892 20.1184 13.6225 19.3451 14.2225C18.5717 14.8092 17.4851 15.1025 16.0851 15.1025C15.5117 15.1025 14.9717 15.0691 14.4651 15.0025V16.3625H11.9651V13.0825H13.8051C15.0184 13.0825 15.9451 13.0025 16.5851 12.8425C17.2251 12.6825 17.5451 12.3492 17.5451 11.8425C17.5451 10.8825 16.3851 10.4025 14.0651 10.4025C12.9317 10.4025 11.6251 10.5358 10.1451 10.8025V8.34248ZM13.2651 21.4825C12.5184 21.4825 11.9317 21.3225 11.5051 21.0025C11.0917 20.6692 10.8851 20.1958 10.8851 19.5825C10.8851 18.9692 11.0917 18.5025 11.5051 18.1825C11.9317 17.8625 12.5184 17.7025 13.2651 17.7025C13.9984 17.7025 14.5784 17.8692 15.0051 18.2025C15.4317 18.5225 15.6451 18.9825 15.6451 19.5825C15.6451 20.1958 15.4317 20.6692 15.0051 21.0025C14.5784 21.3225 13.9984 21.4825 13.2651 21.4825Z" fill="white"/>
    </svg>
  </h2>
  <div class="site__mockup">
    <img class="media-phone" src="/assets/lutinvert-mockup.webp" alt="lutinvert.org mockup">
    <img class="media-pc" src="/assets/desktop-mockup.webp" alt="lutinvert.org mockup">
  </div>
  <div class="site__info">
    <p>
      Rendez-vous sur notre boutique en ligne !
    </p>
    <p>
      Nous proposons la livraison à domicile et le click and collect à <b>l'Abbaye Sainte Marie du Désert</b>
    </p>
    <button><a href="https://www.lutinvert.org/" target="_blank" rel="noopener noreferrer">Voir la Boutique</a></button>
  </div>
</section>

<section class="section marches">
  <h2>
    Retrouvez nous sur les marchés de Midi Pyrénées
    <svg class="title-flower" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M28.542 11.7801C27.7384 13.7318 27.7384 15.9132 28.5421 17.8649C31.24 24.5811 24.5812 31.2399 17.865 28.5419C15.9133 27.7383 13.7319 27.7383 11.7802 28.5419C5.06398 31.2399 -1.59482 24.5811 1.10315 17.8649C1.9068 15.9131 1.90677 13.7318 1.10312 11.7801C-1.59485 5.06384 5.06396 -1.59497 11.7802 1.10299C13.7319 1.90664 15.9133 1.90667 17.865 1.10303C24.5812 -1.59494 31.24 5.06386 28.542 11.7801Z" fill="#D8AF3F"/>
      <path d="M12.3601 7.79997H17.0401L15.5001 15.44H13.9001L12.3601 7.79997ZM14.7401 21.16C13.9934 21.16 13.4068 21 12.9801 20.68C12.5668 20.3466 12.3601 19.8733 12.3601 19.26C12.3601 18.6466 12.5668 18.18 12.9801 17.86C13.4068 17.54 13.9934 17.38 14.7401 17.38C15.4734 17.38 16.0534 17.5466 16.4801 17.88C16.9068 18.2 17.1201 18.66 17.1201 19.26C17.1201 19.8733 16.9068 20.3466 16.4801 20.68C16.0534 21 15.4734 21.16 14.7401 21.16Z" fill="#F4F3F4"/>
    </svg>
  </h2>
  <p>
    Nous sommes présents sur le <b>marché de l’Isle-Jourdain le samedi matin</b> (presque tous les samedis). Notre stand est la plupart du temps situé sur la place de la mairie de L’Isle-Jourdain
  </p>
</section>

</Layout>

<style lang="scss">
@import '../scss/var';

h2 {
  color: $color-secondary-yellow;
}

.pourquoi {
  padding-top: 50px;
  padding-bottom: 0;
}

.site {
  color: $color-font;
  padding-bottom: 0;
  display: grid;
  column-gap: 20px;
  grid-template-areas: "h2 h2"
                       "img info";
  
  &__mockup {
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
    grid-area: img;
  }
  &__info {
    grid-area: info;
    padding-top: 50px;
  }

  h2 {
    grid-area: h2;
    max-width: 800px;
  }
  button {
    position: relative;
    margin-top: 20px;
    border: none;
    background: none;
    padding: 0;
    
    a {
      display: block;
      border-radius: 500px;
      padding: 9px 26px;
      font-size: 12px;
      line-height: 18px;
      font-family: $font-wide;
      font-weight: bold;
      background-color: $color-secondary-yellow;
      position: relative;
      z-index: 2;
      margin: 0;
      text-decoration: none;
      color: $color-font-white;
    }
  }
  
  @media (min-width: 700px) {
    button::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 500px;
      background-color: #ecd8a4;
      transition: transform 80ms;
    }
    button:hover::after {
      transform: translate(3px, 3px);
    }
    .site__mockup img {
      transform: translateX(-50px);
    }
  }
  @media (min-width: 901px) {
    padding-top: 120px;
    column-gap: 120px;
    row-gap: 60px;
    grid-template-columns: 300px auto;
    grid-template-areas: "h2 h2"
                         "info img";

    .site__mockup {
      width: 100%;
      
      img {
        width: 100%;
        transform: unset;
      }
    }
  }
}

.marches {
  padding-top: 40px;
  
  h2, p {
    max-width: 800px;
  }
  @media (min-width: 901px) {
    padding-top: 100px;
    padding-bottom: 140px;
  }
}

</style>