---
const { color } = Astro.props;
---

<div class={`funding funding--${color}`}>
  <div class="funding__label-box">
    <div class="funding__label-box__label">
      Devenez adhérent !
    </div>
  </div>
  <a class="funding__round" href="" target="_blank" rel="noopener noreferrer">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_1358_60" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
        <rect width="48" height="48" fill="#D9D9D9"/>
      </mask>
      <g mask="url(#mask0_1358_60)">
        <path d="M24 44C21.2667 44 18.6833 43.475 16.25 42.425C13.8167 41.375 11.6917 39.9417 9.875 38.125C8.05833 36.3083 6.625 34.1833 5.575 31.75C4.525 29.3167 4 26.7333 4 24C4 21.2333 4.525 18.6333 5.575 16.2C6.625 13.7667 8.05833 11.65 9.875 9.85C11.6917 8.05 13.8167 6.625 16.25 5.575C18.6833 4.525 21.2667 4 24 4C25.6 4 27.1417 4.175 28.625 4.525C30.1083 4.875 31.5167 5.38333 32.85 6.05C32.7167 6.35 32.625 6.65833 32.575 6.975C32.525 7.29167 32.5 7.63333 32.5 8C32.5 8.23333 32.5083 8.45833 32.525 8.675C32.5417 8.89167 32.5833 9.11667 32.65 9.35C31.3833 8.58333 30.025 8 28.575 7.6C27.125 7.2 25.6 7 24 7C19.3 7 15.2917 8.65 11.975 11.95C8.65833 15.25 7 19.2667 7 24C7 28.7 8.65833 32.7083 11.975 36.025C15.2917 39.3417 19.3 41 24 41C28.7333 41 32.75 39.3417 36.05 36.025C39.35 32.7083 41 28.7 41 24C41 22.7333 40.8667 21.4917 40.6 20.275C40.3333 19.0583 39.95 17.9167 39.45 16.85C39.8167 17.05 40.2167 17.2083 40.65 17.325C41.0833 17.4417 41.5333 17.5 42 17.5H42.45C42.5833 17.5 42.7333 17.4833 42.9 17.45C43.2667 18.4833 43.5417 19.5417 43.725 20.625C43.9083 21.7083 44 22.8333 44 24C44 26.7333 43.475 29.3167 42.425 31.75C41.375 34.1833 39.95 36.3083 38.15 38.125C36.35 39.9417 34.2333 41.375 31.8 42.425C29.3667 43.475 26.7667 44 24 44ZM31.3 21.35C32.0667 21.35 32.7083 21.0917 33.225 20.575C33.7417 20.0583 34 19.4167 34 18.65C34 17.8833 33.7417 17.2417 33.225 16.725C32.7083 16.2083 32.0667 15.95 31.3 15.95C30.5333 15.95 29.8917 16.2083 29.375 16.725C28.8583 17.2417 28.6 17.8833 28.6 18.65C28.6 19.4167 28.8583 20.0583 29.375 20.575C29.8917 21.0917 30.5333 21.35 31.3 21.35ZM16.7 21.35C17.4667 21.35 18.1083 21.0917 18.625 20.575C19.1417 20.0583 19.4 19.4167 19.4 18.65C19.4 17.8833 19.1417 17.2417 18.625 16.725C18.1083 16.2083 17.4667 15.95 16.7 15.95C15.9333 15.95 15.2917 16.2083 14.775 16.725C14.2583 17.2417 14 17.8833 14 18.65C14 19.4167 14.2583 20.0583 14.775 20.575C15.2917 21.0917 15.9333 21.35 16.7 21.35ZM24 34.95C26.2 34.95 28.225 34.3583 30.075 33.175C31.925 31.9917 33.2667 30.3833 34.1 28.35H13.9C14.7667 30.3833 16.1167 31.9917 17.95 33.175C19.7833 34.3583 21.8 34.95 24 34.95ZM40.5 9.5H38C37.5667 9.5 37.2083 9.35833 36.925 9.075C36.6417 8.79167 36.5 8.43333 36.5 8C36.5 7.56667 36.6417 7.20833 36.925 6.925C37.2083 6.64167 37.5667 6.5 38 6.5H40.5V4C40.5 3.56667 40.6417 3.20833 40.925 2.925C41.2083 2.64167 41.5667 2.5 42 2.5C42.4333 2.5 42.7917 2.64167 43.075 2.925C43.3583 3.20833 43.5 3.56667 43.5 4V6.5H46C46.4333 6.5 46.7917 6.64167 47.075 6.925C47.3583 7.20833 47.5 7.56667 47.5 8C47.5 8.43333 47.3583 8.79167 47.075 9.075C46.7917 9.35833 46.4333 9.5 46 9.5H43.5V12C43.5 12.4333 43.3583 12.7917 43.075 13.075C42.7917 13.3583 42.4333 13.5 42 13.5C41.5667 13.5 41.2083 13.3583 40.925 13.075C40.6417 12.7917 40.5 12.4333 40.5 12V9.5Z" fill="#195025"/>
      </g>
    </svg>
  </a>
</div>

<script>

const label = document.querySelector('.funding__label-box__label') as HTMLElement

setTimeout(() => {  
  label.style.transform = 'translateX(0)'
  
  setTimeout(() => {
    label.style.transform = 'translateX(150%)'
  }, 5000)
}, 5000)

</script>

<style lang="scss">
@import '../scss/var';

.funding {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 100;
  
  &:hover .funding__label-box__label {
    transform: translateX(0) !important;
  }

  &__label-box {
    position: absolute;
    right: 25px;
    top: 50%;
    padding: 10px;
    padding-right: 35px;
    overflow: hidden;
    transform: translateY(-50%);

    &__label {
      pointer-events: none;
      background: $color-primary-regular;
      color: $color-font-white;
      width: max-content;
      font-size: 12px;
      padding: 4px 12px;
      border-radius: 3px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
      transition: transform 300ms;
      transform: translateX(150%);

      &::after {
        content: '';
        position: absolute;
        right: -4px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        width: 8px;
        height: 8px;
        background: $color-primary-regular;
      }
    }
  }
  &__round {
    position: relative;
    z-index: 10;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.35);
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;

    svg {
      width: 36px;
      height: 36px;
    }
  }

  @media (min-width: 901px) {
    &__round {
      width: 60px;
      height: 60px;

      svg {
        width: 40px;
        height: 40px;
      }
    }
    &__label-box {
      padding-right: 45px;

      &__label {
        font-size: 14px;
      }
    }
  }
}

@each $name, $color in $colors {
  .funding--#{$name} .funding__round path {
    fill: $color !important;
  }
  .funding--#{$name} .funding__label-box__label {
    background: $color;
  }
  .funding--#{$name} .funding__label-box__label::after {
    background: $color;
  }
}
</style>