---
import PolicyLayout from "../../layouts/PolicyLayout.astro";
---

<PolicyLayout title="Politique d'expédition">

<h2>Tarifs et estimations des envois en France métropolitaine</h2>
<p>Toutes les commandes à l'expédition sont traitées dans un délai de 2 à 3 jours ouvrés (hors week-ends et jours fériés) après réception de votre e-mail de confirmation de commande. Vous recevrez une nouvelle notification lorsque votre commande aura été expédiée.</p>
<p>Nous proposons des frais d'expédition forfaitaire avec 3 options possibles indiquées dans le tableau ci-dessous.</p>
<p><b>La livraison est gratuite à partir de 30€ d'achats.</b></p>
<u>Options de livraison proposées :</u>
<table>
  <thead>
    <tr>
      <th>Option</th>
      <th>Délai de livraison estimé</th>
      <th>Tarif</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>En point Mondial Relay</td>
      <td>2 à 4 jours ouvrés</td>
      <td>4,90 €</td>
    </tr>
    <tr>
      <td>Colissimo à domicile</td>
      <td>1 à 2 jours ouvrés</td>
      <td>6,50 €</td>
    </tr>
    <tr>
      <td>Chronopost</td>
      <td>1 jour ouvré</td>
      <td>14,90 €</td>
    </tr>
  </tbody>
</table>

<h2>Retrait à l'atelier</h2>
<p>Vous pouvez éviter les frais d'expédition grâce à un retrait local gratuit à :</p>
<ul>
  <li><b>l'atelier Lutin Vert situé abbaye Sainte Marie du Désert</b> 31530 Bellegarde-Sainte-Marie ;</li>
  <li><b>à Saint Cézert (31330) sur rendez-vous.</b></li>
</ul>
<p>Toutes les commandes en retrait local sont traitées dans un délai de 1 à 2 jours ouvrés (hors week-ends et jours fériés) après réception de votre e-mail de confirmation de commande. Vous recevrez une nouvelle notification lorsque votre commande sera prête à être retirée accompagnée d'instructions pour le retrait.</p>
<p><b>Nos heures de retrait à l'atelier sont :</b></p>
<ul>
  <li>les lundi, mardi, jeudi et vendredi de 9h à 17h ;</li>
  <li>le mercredi de 9h à 12h.</li>
</ul>
<p>L'e-mail de confirmation de commande vous sera demandé lors du retrait de la commande.</p>

<h2>Comment puis-je vérifier le statut de ma commande ?</h2>
<p>Lorsque votre commande sera expédiée, vous recevrez une notification par e-mail de notre part qui comprendra un numéro de suivi que vous pourrez utiliser pour vérifier son statut. Veuillez prévoir un délai de 48 heures pour que les informations de suivi soient disponibles.</p>
<p>Si vous n'avez pas reçu votre commande dans les 15 jours suivant la réception de votre e-mail de confirmation d'expédition, veuillez nous contacter à <a href="mailto:boutique@lutinvert.org">boutique@lutinvert.org</a> en indiquant votre nom et votre numéro de commande et nous l'examinerons pour vous.</p>

<h2>Remboursements, retours et échanges</h2>
<p>Nous acceptons les retours jusqu'à 30 jours après la livraison, si l'article est inutilisé et dans son état d'origine, et nous vous rembourserons le montant total de la commande. Les frais de retour sont pris en charge par l'association.</p>
<p>Dans le cas où votre commande arriverait endommagée, veuillez nous envoyer un e-mail dès que possible à <a href="mailto:boutique@lutinvert.org">boutique@lutinvert.org</a> avec votre numéro de commande et une photo de l'article. Nous traiterons ces questionsau cas par cas, mais nous ferons de notre mieux pour trouver une solution satisfaisante.</p>
<p>Si vous avez d'autres questions, n'hésitez pas à nous contacter à l'adresse <a href="mailto:boutique@lutinvert.org">boutique@lutinvert.org</a>.</p>

</PolicyLayout>