---
import PolicyLayout from "../../layouts/PolicyLayout.astro"
---

<PolicyLayout title="Politique de remboursement">

<p>Notre politique dure 30 jours. Si plus de 30 jours se sont écoulés depuis votre achat, nous ne pouvons malheureusement offrir ni remboursement ni échange. Pour compléter votre retour, nous exigeons un reçu ou une preuve d'achat.</p>
<p>Pour pouvoir être retourné, votre article doit être inutilisé et dans l'état où vous l'avez reçu. Il doit aussi être dans son emballage d'origine quand il y en a un.</p>
<p>Le retour de certains types de marchandises n'est pas autorisé. C'est le cas :</p>
<ul>
  <li>des Cartes-cadeaux</li>
  <li>des patrons de vêtements de poupées et déguisements téléchargeables au format pdf.</li>
</ul>
<p>Dans certains cas, seuls des remboursements partiels sont accordés :</p>
<ul>
  <li>livres montrant des signes d'utilisation évidents par rapport à l'état décrit dans l'annonce ;</li>
  <li>tout article qui n'est pas dans son état d'origine, qui est endommagé ou auquel il manque des pièces pour une raison non due à une erreur de notre part ;</li>
  <li>tout article retourné plus de 30 jours après sa livraison.</li>
</ul>

<h2>Remboursements</h2>
<p>Une fois votre retour reçu et inspecté, nous vous adresserons un e-mail pour vous indiquer que nous avons reçu l'article retourné.</p>
<p>Votre remboursement, si les conditions précisées plus haut sont respectées, est alors traité et votre carte de crédit ou moyen de paiement initial se voit crédité(e) automatiquement dans un délai de quelques jours.</p>

<h2>Remboursements retardés ou manquants</h2>
<p>Si vous n'avez pas encore reçu de remboursement, revérifiez d'abord votre compte bancaire. Ensuite, contactez votre banque. L'affichage d'un remboursement est souvent précédé d'un délai de traitement.</p>
<p>Si vous avez effectué toutes ces démarches et que vous n'avez toujours pas reçu votre remboursement, contactez-nous à l'adresse suivante : <a href="mailto:boutique@lutinvert.org">boutique@lutinvert.org</a>.</p>

<h2>Échanges contre bon d'achat</h2>
<p>Nos jouets étant des jouets d'occasion, nous ne pouvons pas remplacer à l'identique les articles retournés. Nous pouvons vous proposer, si vous le souhaitez, un bon d'achat équivalent à valoir sur notre site internet.</p>

<h2>Cadeaux</h2>
<p>Si l'article a été marqué comme cadeau au moment de l'achat et s'il vous a été expédié directement, vous recevrez un crédit cadeau d'une valeur équivalente à celle de l'article retourné. Une fois l'article retourné reçu, un bon cadeau vous sera envoyé par voie postale.</p>
<p>Si l'article n'a pas été marqué comme cadeau au moment de l'achat, ou si la personne à l'origine du cadeau s'est fait envoyer la commande dans le but de vous la remettre plus tard, c'est à elle que nous adresserons le remboursement et elle saura donc que vous avez retourné son cadeau.</p>

<h2>Expédition</h2>
<p><b>Pour retourner votre produit, vous devez l'envoyer à l'adresse postale suivante :</b></p>
<p>abbaye Sainte Marie du Désert, Bellegarde-Sainte-Marie, France, 31530, France.</p>
<p>Les coûts d'expédition liés au retour de votre article sont pris en charge par l'association. Si vous souhaitez en faire don à l'association vous pouvez nous le préciser à l'adresse suivante : <a href="mailto:boutique@lutinvert.org">boutique@lutinvert.org</a>.</p>
<p>Selon l'endroit où vous vivez, le délai de réception de votre produit retourné peut varier.</p>
<p>Si vous expédiez un article d'une valeur supérieure à 75 €, nous vous recommandons d'utiliser un service de suivi d'expédition ou de faire assurer votre envoi. Nous ne garantissons pas que nous recevrons l'article retourné.</p>

</PolicyLayout>