@import 'var';

@import url("https://hello.myfonts.net/count/3fd0b8");

@font-face {
  font-family: "Monotalic";
  src: url('/fonts/MonotalicRegular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: "Monotalic";
  src: url('/fonts/MonotalicBold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: "Monotalic-Wide";
  src: url('/fonts/MonotalicWideLight.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: "Monotalic-Wide";
  src: url('/fonts/MonotalicWideBold.woff2') format('woff2');
  font-weight: 700;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font;
  background-color: $color-font-white;
  color: $color-font;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.section {
  width: 100%;
  padding: 80px 25px 60px 25px;
  box-sizing: border-box;
  
  @media (min-width: 700px) {
    padding: 80px 100px 60px 100px;
  }
  @media (min-width: 901px) {
    padding: 100px 10%;
  }
}

.title-flower {
  vertical-align: bottom;
  
  @media (min-width: 700px) {
    height: 40px;
    width: 40px;
  }
}

h2 {
  margin-top: 0;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  position: relative;
  width: fit-content;
  margin-bottom: 21px;
  
  @media (min-width: 700px) {
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 30px;
  }
}

p, b, li, i, span, a, u {
  font-family: $font;
  font-size: 14px;
  line-height: 17px;
  margin: 5px 0;
  
  @media (min-width: 700px) {
    margin: 16px 0;
    font-size: 15px;
    line-height: 18px;
  }
}

li {
  margin: 3px 0;
}
ul {
  margin: 2px 0;
  padding-left: 20px;
  
  @media (min-width: 700px) {
    padding-left: 30px;
  }
}

@media (max-width: 900px) {
  .media-pc { display: none; }
}

@media (min-width: 901px) {
  .media-phone { display: none; }
}