$color-primary-light: #f4f4f4;
$color-primary-medium: #66d178;
$color-primary-regular: #124f1a;

$color-secondary-blue: #678ddd;
$color-secondary-green: #4f8f85;
$color-secondary-brown: #40241c;
$color-secondary-red: #eb3b3b;
$color-secondary-orange: #ff7a52;
$color-secondary-yellow: #d9b040;

$color-background: #f3f4f3;
$color-font: #1e1e1e;
$color-font-white: #f3f4f3;

$font: "Monotalic";
$font-wide: "Monotalic-Wide";

$colors: (
  "primary-light": $color-primary-light,
  "primary-medium": $color-primary-medium,
  "primary-regular": $color-primary-regular,
  "secondary-blue": $color-secondary-blue,
  "secondary-green": $color-secondary-green,
  "secondary-brown": $color-secondary-brown,
  "secondary-red": $color-secondary-red,
  "secondary-orange": $color-secondary-orange,
  "secondary-yellow": $color-secondary-yellow
);

@mixin texture-back($color) {
  background: url('/assets/texture.svg'), linear-gradient(0, $color, $color);
}