---
import Header from '../components/Header.astro'

const { title, id } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>

<body>
  <Header pageId={id} />
  <main>
    <slot />
  </main>
</body>

</html>

<style lang="scss" is:global>
@import '../scss/global';
</style>